@charset "utf-8";
/* CSS Document */

body{
	background-image:url(img/fondo.jpg);
	color:#606060;
	position: relative;	
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 .display-1, .display-2, .display-3, .display-4{
	line-height: 2;
	word-break: break-word;
	word-wrap: break-word;
}

section{
	background-image: url(img/fondo2.jpg);
	color:aliceblue;
	padding: 50px;
	text-align: center;
}
.card{
	background-color:#F8F8F8;
	padding: 10px;
	border: 1px #AAAAAA solid;
	border-radius: 0.2cm;
	box-shadow: 3px 3px darkgray;
	margin: 10px 0;
	height: 250px;
}

.col-md-2{
	background-image: url(img/fondo3.jpg);
}

